main > h1 {
	margin-bottom: 0;
}

main > .options {
	display: -webkit-flex;
	display:    -moz-flex;
	display:     -ms-flexbox;
	display:         flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-bottom: 20px;
}

main > .options > button {
	width: 100%;
	max-width: 175px;
}

main > form > section {
	position: relative;
	margin: 5px 0 20px;
	padding: 20px;
	background-color: white;
	box-shadow: 0 0 2px grey inset;
}

main > form > section > h4 {
	margin-bottom: 15px;
}

main > form > section > ul {
	margin-bottom: 0;
	font-size: 0.8em;
}

main > form > section > .quiz-item {
	padding: 20px 10px 15px;
	border-top: 1px solid lightgrey;
}

main > form > section > .quiz-item > .correct {
	display: -webkit-flex;
	display:    -moz-flex;
	display:     -ms-flexbox;
	display:         flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-top: 5px;
}

main > form > section > .quiz-item > .correct > label {
	margin-left: 5%;
	font-size: large;
}

main > form > section > .quiz-item > .correct > label:first-child {
	margin-left: 0;
}

main > form > section > .quiz-item + button {
	margin-top: 20px;
}

main > form > section > .quiz-item + button::before {
	position: absolute;
	right: 20px;
	bottom: 65px;
	left: 20px;
	content: "";
	border-top: 1px solid lightgrey;
}

main > form > button {
	width: 70%;
	margin: 0 auto;
}
