main > .options {
	display: -webkit-flex;
	display:    -moz-flex;
	display:     -ms-flexbox;
	display:         flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-bottom: 20px;
}

main > .options > button {
	width: 100%;
	max-width: 175px;
}

main > form > section > .item > .correct {
	display: -webkit-flex;
	display:    -moz-flex;
	display:     -ms-flexbox;
	display:         flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-top: 5px;
}

main > form > section > .item > .correct > label {
	margin-left: 5%;
	font-size: large;
}

main > form > section > .item > .correct > label:first-child {
	margin-left: 0;
}

main > .results > table {
	width: 100%;
	border-collapse: collapse;
}

main > .results > table * {
	text-align: center;
	border: 1px solid black;
}
