main > .options {
	position: absolute;
	top: 0;
	right: 20px;
}

main > .options > * {
	float: right;
	clear: right;
}

main > form.in-class-questions {
	margin: 20px;
	padding: 10px;
	background-color: white;
	border: 1px solid lightgrey;
	box-shadow: 0 0 2px lightgrey;
}

main > form > section {
	margin: 5px 10px 20px;
}

main > form > section + button {
	margin-top: 40px;
}

main > form > section + button::before {
	position: absolute;
	bottom: 45px;
	left: 0;
	width: 100%;
	content: "";
	border-top: 1px solid lightgrey;
}

main > form > section > ul {
	margin-bottom: 0;
	font-size: 0.8em;
}

main > form .quiz-item {
	margin-bottom: 40px;
}

main > form .quiz-item > .correct {
	display: -webkit-flex;
	display:    -moz-flex;
	display:     -ms-flexbox;
	display:         flex;
	justify-content: center;
	align-items: center;
}

main > form .quiz-item > .correct > label {
	margin-left: 20px;
	font-size: large;
}

main > form .quiz-item > .correct > label:first-child {
	margin-left: 0;
}
