body {
	margin: 0;
	font-size: 1.5em;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: hsl(0, 0%, 25%);
	background-color: hsl(200, 35%, 25%);
	background-image: radial-gradient(hsl(200, 40%, 45%), hsl(200, 35%, 25%));
	background-attachment: fixed;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

header,
main h1,
main h4,
main label,
main button {
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	 -khtml-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

main label[for] {
	cursor: pointer;
}

main h1,
main h2,
main h4,
main button {
	color: hsl(0, 0%, 95%);
}

a {
	color: hsl(200, 70%, 50%);
	text-decoration: none;
}

a:hover {
	color: hsl(205, 65%, 45%);
}

header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 10;
	padding: 20px;
	background-color: hsla(0, 0%, 100%, 0);
	-webkit-transition: background-color 400ms;
	   -moz-transition: background-color 400ms;
	    -ms-transition: background-color 400ms;
	     -o-transition: background-color 400ms;
	        transition: background-color 400ms;
}

header.scrolled {
	background-color: hsla(0, 0%, 100%, 0.9);
	-webkit-backdrop-filter: blur(5px);
}

header nav {
	display: -webkit-flex;
	display:    -moz-flex;
	display:     -ms-flexbox;
	display:         flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	padding: 0 20px;
}

header a {
	margin: 0 10px;
}

header .links {
	text-align: right;
}

main {
	position: relative;
	top: 10vh;
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	padding: 0 20px 50px;
}

main section {
	position: relative;
	margin: 5px 0 20px;
	padding: 20px;
	background-color: white;
	box-shadow: 0 0 2px white;
}

main h1 {
	text-align: center;
}

main h4 {
	margin: 0;
}

main section h4 {
	margin-bottom: 15px;
	color: initial;
}

main ul {
	margin: 0 0 10px;
}

main section ul {
	margin-bottom: 0;
	font-size: 0.8em;
}

main form {
	position: relative;
}

main section .item {
	padding: 20px 10px 15px;
	border-top: 1px solid lightgrey;
}

main input,
main textarea {
	position: relative;
	width: 100%;
	padding: 3px;
	font-size: 100%;
	background-color: hsl(0, 0%, 95%);
	border: 1px solid hsl(0, 0%, 85%);
	outline: none;
	box-shadow: 0 0 0 0 steelblue;
	-webkit-transition: border-color 300ms, box-shadow 300ms;
	   -moz-transition: border-color 300ms, box-shadow 300ms;
	    -ms-transition: border-color 300ms, box-shadow 300ms;
	     -o-transition: border-color 300ms, box-shadow 300ms;
	        transition: border-color 300ms, box-shadow 300ms;
}

main input[type="file"] {
	font-size: small;
}

main input[type="radio"] {
	width: initial;
	vertical-align: 1px;
	border-radius: 50%;
}

main textarea {
	height: 75px;
	font-size: initial;
}

main input:focus,
main textarea:focus {
	z-index: 10;
	border-color: steelblue;
	-webkit-animation: anim-shadow 300ms forwards;
	   -moz-animation: anim-shadow 300ms forwards;
	    -ms-animation: anim-shadow 300ms forwards;
	     -o-animation: anim-shadow 300ms forwards;
	        animation: anim-shadow 300ms forwards;
}

main p {
	margin: 0;
}

main select {
	display: block;
	font-size: 100%;
}

@-webkit-keyframes anim-shadow {
	to { box-shadow: 0 0 25px 12.5px transparent; }
}

@-moz-keyframes anim-shadow {
	to { box-shadow: 0 0 25px 12.5px transparent; }
}

@-ms-keyframes anim-shadow {
	to { box-shadow: 0 0 25px 12.5px transparent; }
}

@-o-keyframes anim-shadow {
	to { box-shadow: 0 0 25px 12.5px transparent; }
}

@keyframes anim-shadow {
	to { box-shadow: 0 0 25px 12.5px transparent; }
}

main button {
	display: block;
	height: 30px;
	margin: 10px auto 0;
	padding: 0 12px 2px;
	font-size: 14px;
	line-height: 28px;
	background-color: hsl(200, 100%, 36%);
	border: 1px solid hsl(200, 100%, 33%);
	border-radius: 3px;
	box-shadow: 0 1px hsl(200, 100%, 30%);
	outline: none;
	cursor: pointer;
}

main button:active {
	border-style: inset;
	box-shadow: 0 1px hsl(200, 100%, 30%) inset;
}

main button[disabled] {
	opacity: 0.7;
	cursor: default;
	background-color: hsl(0, 0%, 36%);
	border: 1px solid hsl(0, 0%, 33%);
	box-shadow: 0 1px hsl(0, 0%, 30%);
}

main form > button {
	width: 70%;
	margin: 0 auto;
}

main section .item + button {
	margin-top: 20px;
}

main section .item + button::before {
	position: absolute;
	right: 20px;
	bottom: 65px;
	left: 20px;
	content: "";
	border-top: 1px solid lightgrey;
}

.scroll-top {
	position: fixed;
	right: 25px;
	bottom: 25px;
	z-index: 5;
	width: 50px;
	height: 50px;
	color: hsl(0, 0%, 95%);
	cursor: pointer;
	background-color: hsl(0, 0%, 5%);
	border: 1px solid hsl(0, 0%, 10%);
	border-radius: 2px;
	opacity: 0;
	pointer-events: none;
	-webkit-transition: all 400ms;
	   -moz-transition: all 400ms;
	    -ms-transition: all 400ms;
	     -o-transition: all 400ms;
	        transition: all 400ms;
}

.scroll-top:hover {
	color: hsl(200, 70%, 50%);
	background-color: hsl(0, 0%, 90%);
}

.scroll-top.scrolled {
	opacity: 0.75;
	pointer-events: all;
}

.scroll-top > .chevron {
	width: 20px;
	height: 20px;
	margin: 12px auto 0;
	color: inherit;
}

.chevron {
	position: relative;
	width: 100%;
	height: 100%;
	color: black;
	-webkit-transform: rotateX(180deg);
	   -moz-transform: rotateX(180deg);
	    -ms-transform: rotateX(180deg);
	     -o-transform: rotateX(180deg);
	        transform: rotateX(180deg);
	-webkit-transition: -webkit-transform 400ms, top 400ms;
	   -moz-transition:    -moz-transform 400ms, top 400ms;
	    -ms-transition:     -ms-transform 400ms, top 400ms;
	     -o-transition:      -o-transform 400ms, top 400ms;
	        transition:         transform 400ms, top 400ms;
}

.chevron.up {
	-webkit-transform: rotateX(0deg);
	   -moz-transform: rotateX(0deg);
	    -ms-transform: rotateX(0deg);
	     -o-transform: rotateX(0deg);
	        transform: rotateX(0deg);
}

.chevron::before,
.chevron::after {
	position: absolute;
	top: 50%;
	width: 50%;
	height: 10%;
	content: "";
	background-color: currentColor;
}

.chevron:before {
	left: 0;
	-webkit-transform: skew(0deg, -45deg);
	   -moz-transform: skew(0deg, -45deg);
	    -ms-transform: skew(0deg, -45deg);
	     -o-transform: skew(0deg, -45deg);
	        transform: skew(0deg, -45deg);
}

.chevron:after {
	right: 0;
	-webkit-transform: skew(0deg, 45deg);
	   -moz-transform: skew(0deg, 45deg);
	    -ms-transform: skew(0deg, 45deg);
	     -o-transform: skew(0deg, 45deg);
	        transform: skew(0deg, 45deg);
}
