body {
	font-size: 1.5em;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #444;
	background-color: #f1f1f1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

header,
main h1,
main h3,
main label,
main button {
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	 -khtml-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

main label[for] {
	cursor: pointer;
}

a {
	color: #3498db;
	text-decoration: none;
}

a:hover {
	color: #277bb6;
}

header {
	padding: 20px;
}

header > nav {
	display: -webkit-flex;
	display:    -moz-flex;
	display:     -ms-flexbox;
	display:         flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
}

main {
	position: relative;
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	padding: 0 20px 50px;
}

main h4 {
	margin: 0;
}

main ul {
	margin: 0 0 10px;
}

main form {
	position: relative;
}

main input,
main textarea {
	position: relative;
	width: 100%;
	padding: 3px;
	font-size: 100%;
	background-color: #fbfbfb;
	border: 1px solid #ddd;
	outline: none;
	box-shadow: 0 0 0 0 steelblue;
	-webkit-transition: border-color 300ms, box-shadow 300ms;
	   -moz-transition: border-color 300ms, box-shadow 300ms;
	    -ms-transition: border-color 300ms, box-shadow 300ms;
	     -o-transition: border-color 300ms, box-shadow 300ms;
	        transition: border-color 300ms, box-shadow 300ms;
}

main input[type="file"] {
	font-size: small;
}

main input[type="radio"] {
	width: initial;
	vertical-align: 1px;
	border-radius: 50%;
}

main textarea {
	height: 75px;
	font-size: initial;
}

main input:focus,
main textarea:focus {
	z-index: 10;
	border-color: steelblue;
	-webkit-animation: anim-shadow 300ms forwards;
	   -moz-animation: anim-shadow 300ms forwards;
	    -ms-animation: anim-shadow 300ms forwards;
	     -o-animation: anim-shadow 300ms forwards;
	        animation: anim-shadow 300ms forwards;
}

main select {
	font-size: 100%;
}

@-webkit-keyframes anim-shadow {
	to { box-shadow: 0 0 25px 12.5px transparent; }
}

@-moz-keyframes anim-shadow {
	to { box-shadow: 0 0 25px 12.5px transparent; }
}

@-ms-keyframes anim-shadow {
	to { box-shadow: 0 0 25px 12.5px transparent; }
}

@-o-keyframes anim-shadow {
	to { box-shadow: 0 0 25px 12.5px transparent; }
}

@keyframes anim-shadow {
	to { box-shadow: 0 0 25px 12.5px transparent; }
}

main button {
	display: block;
	height: 30px;
	margin: 10px auto 0;
	padding: 0 12px 2px;
	font-size: 14px;
	line-height: 28px;
	color: #fff;
	background-color: #0085ba;
	border: 1px  solid #0073aa;
	border-radius: 3px;
	box-shadow: 0 1px 0 #006799;
	outline: none;
	cursor: pointer;
}

main button:active {
	border-style: inset;
	box-shadow: 0 1px 0 #006799 inset;
}

.chevron {
	position: relative;
	width: 100%;
	height: 100%;
	-webkit-transition: -webkit-transform 400ms, top 400ms;
	   -moz-transition:    -moz-transform 400ms, top 400ms;
	    -ms-transition:     -ms-transform 400ms, top 400ms;
	     -o-transition:      -o-transform 400ms, top 400ms;
	        transition:         transform 400ms, top 400ms;
}

.chevron.down {
	-webkit-transform: rotateX(180deg);
	   -moz-transform: rotateX(180deg);
	    -ms-transform: rotateX(180deg);
	     -o-transform: rotateX(180deg);
	        transform: rotateX(180deg);
}

.chevron::before,
.chevron::after {
	position: absolute;
	top: 50%;
	width: 50%;
	height: 10%;
	content: "";
	background-color: black;
}

.chevron:before {
	left: 0;
	-webkit-transform: skew(0deg, -45deg);
	   -moz-transform: skew(0deg, -45deg);
	    -ms-transform: skew(0deg, -45deg);
	     -o-transform: skew(0deg, -45deg);
	        transform: skew(0deg, -45deg);
}

.chevron:after {
	right: 0;
	-webkit-transform: skew(0deg, 45deg);
	   -moz-transform: skew(0deg, 45deg);
	    -ms-transform: skew(0deg, 45deg);
	     -o-transform: skew(0deg, 45deg);
	        transform: skew(0deg, 45deg);
}
