body {
	font-size: 1.5em;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #444;
	background-color: #f1f1f1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

a {
	color: #3498db;
	text-decoration: none;
}

a:hover {
	color: #277bb6;
}

nav {
	text-align: center;
}

nav > a {
	margin: 20px;
}

main {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
}

main > h4,
main > ul {
	margin: 0;
}

main > form {
	position: relative;
}

main > form input {
	width: 100%;
	padding: 3px;
	font-size: 100%;
	background-color: #fbfbfb;
	border: 1px solid #ddd;
	outline: none;
	box-shadow: 0 0 0 0 steelblue;
	-webkit-transition: border-color 300ms, box-shadow 300ms;
	   -moz-transition: border-color 300ms, box-shadow 300ms;
	    -ms-transition: border-color 300ms, box-shadow 300ms;
	     -o-transition: border-color 300ms, box-shadow 300ms;
	        transition: border-color 300ms, box-shadow 300ms;
}

main > form input[type="file"] {
	font-size: small;
}

main > form input:focus {
	border-color: steelblue;
	-webkit-animation: anim-shadow 300ms forwards;
	   -moz-animation: anim-shadow 300ms forwards;
	    -ms-animation: anim-shadow 300ms forwards;
	     -o-animation: anim-shadow 300ms forwards;
	        animation: anim-shadow 300ms forwards;
}

@-webkit-keyframes anim-shadow {
	to { box-shadow: 0 0 25px 12.5px transparent; }
}

@-moz-keyframes anim-shadow {
	to { box-shadow: 0 0 25px 12.5px transparent; }
}

@-ms-keyframes anim-shadow {
	to { box-shadow: 0 0 25px 12.5px transparent; }
}

@-o-keyframes anim-shadow {
	to { box-shadow: 0 0 25px 12.5px transparent; }
}

@keyframes anim-shadow {
	to { box-shadow: 0 0 25px 12.5px transparent; }
}

main > form button {
	display: block;
	height: 30px;
	margin: 10px auto 0;
	padding: 0 12px 2px;
	font-size: 14px;
	line-height: 28px;
	color: #fff;
	background-color: #0085ba;
	border: 1px  solid #0073aa;
	border-radius: 3px;
	box-shadow: 0 1px 0 #006799;
	outline: none;
	cursor: pointer;
}

main > form button:active {
	border-style: inset;
	box-shadow: 0 1px 0 #006799 inset;
}
