main {
	max-width: 320px;
	margin-top: 20vh;
	padding: 10px 20px 30px;
	background-color: white;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
}

main > h1,
main > h2 {
	margin: 0.8em 0 0;
	text-align: center;
}

main h4 {
	margin: 0.7em 0 0;
	text-align: center;
	font-size: 70%;
	color: red;
}

main > h1 + form,
main > h2 + form {
	margin-top: 1.35em;
}

main > form > section {
	margin-bottom: 15px;
}

main > form > section > label {
	margin-left: 1px;
	font-size: 70%;
	color: #777;
}
