main > section > form > .item:first-child {
	padding-top: 10px;
	border-top: none;
}

main > section > form > .item > select,
main > section > form > .item > input {
	margin-bottom: 15px;
}

main > section > form > .item + button::before {
	bottom: 50px;
}
