<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>jsp</servlet-name>
		<servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
		<init-param>
			<param-name>compiler</param-name>
			<param-value>modern</param-value>
		</init-param>
		<init-param>
			<param-name>compilerSourceVM</param-name>
			<param-value>1.8</param-value>
		</init-param>
		<init-param>
			<param-name>compilerTargetVM</param-name>
			<param-value>1.8</param-value>
		</init-param>
		<init-param>
			<param-name>suppressSmap</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list> 

	<error-page>
		<error-code>404</error-code>
		<location>/404.html</location>
	</error-page>

	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<trim-directive-whitespaces>true</trim-directive-whitespaces>
		</jsp-property-group>
	</jsp-config>

	<servlet>
		<servlet-name>home-extension</servlet-name>
		<jsp-file>/index.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>home-extension</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>logout-extension</servlet-name>
		<jsp-file>/logout.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>logout-extension</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>data-extension</servlet-name>
		<jsp-file>/data.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>data-extension</servlet-name>
		<url-pattern>/data</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>reset-extension</servlet-name>
		<jsp-file>/reset.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>reset-extension</servlet-name>
		<url-pattern>/reset</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>admin-extension</servlet-name>
		<jsp-file>/admin/index.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>admin-extension</servlet-name>
		<url-pattern>/admin/index</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>admin-class-extension</servlet-name>
		<jsp-file>/admin/class.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>admin-class-extension</servlet-name>
		<url-pattern>/admin/class</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>admin-week-extension</servlet-name>
		<jsp-file>/admin/week.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>admin-week-extension</servlet-name>
		<url-pattern>/admin/week</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>FileUploadServlet</servlet-name>
		<servlet-class>iPodia.FileUploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FileUploadServlet</servlet-name>
		<url-pattern>/admin/uploadFile</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>student-extension</servlet-name>
		<jsp-file>/student/index.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>student-extension</servlet-name>
		<url-pattern>/student/index</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>student-class-extension</servlet-name>
		<jsp-file>/student/class.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>student-class-extension</servlet-name>
		<url-pattern>/student/class</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>registrar-extension</servlet-name>
		<jsp-file>/registrar/index.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>registrar-extension</servlet-name>
		<url-pattern>/registrar/index</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>registrar-class-extension</servlet-name>
		<jsp-file>/registrar/class.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>registrar-class-extension</servlet-name>
		<url-pattern>/registrar/class</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>registrar-user-extension</servlet-name>
		<jsp-file>/registrar/user.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>registrar-user-extension</servlet-name>
		<url-pattern>/registrar/user</url-pattern>
	</servlet-mapping>

	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>
</web-app>
